.wrapper {
  margin-top: 20px;
}

.button {
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12);
  border: none;
  margin-right: 10px;
  background-color: #fff;
}

.button:active {
  background-color: #ddd;
}

.button:disabled {
  background-color: #ddd;
}